.opener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(99vh - 5rem);
  width: 100%;
}

.btnWrapper {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
}
